$text-color: #80848f;
page {
    background: #f0f2f5;
}
.box {
    text-align: center;
    margin-bottom: 20rpx;
}
.text {
    display: block;
    color: $text-color;
    font-size: 30rpx !important;
}
.title {
    color: #495060;
}
.m-b-20 {
    margin-bottom: 20rpx;;
}
.footer-tip {
    padding-bottom: 2rem;
}
.mb-20 {
    margin-bottom: 20rpx;
}
.p-20 {
    padding: 20rpx;
}
.box-iterm {
    margin-left: 20rpx;
    padding-bottom: 30rpx;
    padding-top: 30rpx;
    background: #fff;
    box-shadow: 0px 0px 10px 10px #e9eaec;
}
