$text-color: #80848f;
page {
    background: #f0f2f5;
}
.text-center {
    text-align: center;
}
.text {
    display: block;
    color: $text-color;
    font-size: 30rpx !important;
}
.title {
    color: #495060;
}
.m-b-20 {
    margin-bottom: 20rpx;;
}
.m-t-20 {
    margin-top: 20rpx;
}
.footer-tip {
    padding-bottom: 2rem;
}
.mb-20 {
    margin-bottom: 20rpx;
}
.p-20 {
    padding: 20rpx;
}
.box-iterm {
    margin-left: 20rpx;
    margin-bottom: 20rpx;
    padding-bottom: 20rpx;
    padding-top: 20rpx;
    border-radius: 15rpx;
    background: #fff;
    box-shadow: 0px 0px 20px 5px #e9eaec;
}
