$text-color: #80848f;
page {
    background: #f0f2f5;
}
.box {
    text-align: center;
    background: #fff;
    padding-bottom: .5rem;
    margin-bottom: .4rem;
}
.text {
    display: block;
    color: $text-color;
    font-size: 30rpx !important;
}
.title {
    color: #495060;
}
.border-b {
    border-bottom: 1px solid #e9eaec;
}
.footer-tip {
    padding-bottom: 2rem;
}
.mb-20 {
    margin-bottom: 20rpx;
}
.p-30 {
    padding: 30rpx;
}

